<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sami training</title>
</head>
<body>
    <div class="top-bar">
        <div>*</div>
        <div>المدرب سامي</div>
    </div>
    <div class="main-bx">
        <div class="line-bx">
            <div class="text-bx">إختر جنس الزبون</div>
         <div class="choice-bx" id="prog-sexe">
            <div class="choice">برنامج مخصص للرجال</div><div class="choice">برنامج مخصص للنساء</div></div>
        </div>
        <div class="line-bx">
            <div class="text-bx">إختر نوع البرنامج</div>
         <div class="choice-bx" id="prog-mode">
            <div class="choice">تنشيف</div><div class="choice">تضخيم</div><div class="choice">تخسيس</div></div>
        </div>
        <div class="line-bx">
            <div class="text-bx">إختر طبيعة البرنامج</div>
         <div class="choice-bx" id="prog-type">
            <div class="choice">طبيعي</div><div class="choice">غير طبيعي</div></div>
        </div>
        <div class="line-bx">
            <div class="text-bx">إختر حالة سرعة الأيض</div>
         <div class="choice-bx" id="ayd-speed">
            <div class="choice">سرعة أيض سريعة</div><div class="choice">سرعة أيض متوسطة</div></div>
        </div>
        <div class="line-bx">
           <div class="input-list">
               <div class="input-bx"><div class="lable-txt">الطول (سم)</div><input id="height-p" type="number" value="0" min="0"></div>
               <div class="input-bx"><div class="lable-txt">الوزن (كغ)</div><input id="weight-p" type="number" value="0" min="0"></div>
               <div class="input-bx"><div class="lable-txt">العمر</div><input id="age-p" type="number" value="0" min="0"></div>
            </div>
        </div>
        <div class="line-bx">
            <div class="btn-bx"> <input type="button" value="إضغط لتحميل برنامج التدريب"></div>
        </div>
    </div>
    <div class="print-bx display-none">
        <div id="cutting" class="sub-print ">
            <div class="title-1">برنامج تنشيف مخصص</div>
            <div class="table">
                <div class="row-1">
                    <div class="col"></div>
                    <div class="col">الوجبة 1</div>
                    <div class="col">الوجبة 2</div>
                    <div class="col">الوجبة 3</div>
                    <div class="col">الوجبة 4</div>
                    <div class="col">الوجبة 5</div>
                    <div class="col">الوجبة 6</div>
                </div>
                <div class="row">
                    <div class="col">في الأيام العادية</div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                </div>
                <div class="row">
                    <div class="col">في اليوم الاول من الاسبوع السادس </div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                </div>
                <div class="row">
                    <div class="col">في اليوم الثاني من الاسبوع السادس </div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                </div>
          
          
            </div>
            
        </div>
        <div id="weight-loss" class="sub-print display-none">
            <div class="title-1">برنامج تخسيس مخصص</div>
            <div class="table">
                <div class="row-1">
                    <div class="col"></div>
                    <div class="col">الوجبة 1</div>
                    <div class="col">الوجبة 2</div>
                    <div class="col">الوجبة 3</div>
                    <div class="col">الوجبة 4</div>
                    <div class="col">الوجبة 5</div>
                    <div class="col">الوجبة 6</div>
                </div>
                <div class="row">
                    <div class="col">في الأيام العادية</div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div></div>
                    <div class="col"><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div></div>
                    <div class="col"><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div></div>
                </div>
                <div class="row">
                    <div class="col">في اليوم الاول من الاسبوع السادس </div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div></div>
                    <div class="col"><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div></div>
                    <div class="col"><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div></div>
                </div>
                <div class="row">
                    <div class="col">في اليوم الثاني من الاسبوع السادس </div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div></div>
                    <div class="col"><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div></div>
                    <div class="col"><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div><div class="info"><div>خضار</div><div></div></div></div>
                </div>
            </div>
        </div>
        
        <div id="bulking" class="sub-print display-none">
            <div class="title-1">برنامج تضخيم مخصص</div>
            <div class="table">
                <div class="row-1">
                    <div class="col"></div>
                    <div class="col">الوجبة 1</div>
                    <div class="col">الوجبة 2</div>
                    <div class="col">الوجبة 3</div>
                    <div class="col">الوجبة 4</div>
                    <div class="col">الوجبة 5</div>
                    <div class="col">الوجبة 6</div>
                </div>
                <div class="row">
                    <div class="col">في الأيام العادية</div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                </div>
                <div class="row">
                    <div class="col">في الأسبوع السادس </div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                </div>
                <div class="row">
                    <div class="col">أربعة أيام تدريب</div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                </div>
                <div class="row">
                    <div class="col">ثلاثة أيام راحة </div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                    <div class="col"><div class="info"><div>البروتين</div><div>24</div></div><div class="info"><div>الكارب</div><div>24</div></div><div class="info"><div>الدهون</div><div>24</div></div></div>
                </div>
            </div>
        </div>
        <div class="save-bx">
            <input id="back" type="button" value="الرجوع">
            <input id="save" type="button" value="حفظ">
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>